@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "./mixins";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkBlue:hsl(207, 26%, 17%);
    --veryDarkBlue:hsl(209, 23%, 22%);
    --lightFont:#fff;
    --darkFont:#000;
    --shadow:0 0 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background:var(--veryDarkBlue);
}
.header{

    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background:var(--darkBlue);
    align-items: center;
    font-size: 16px;
    transition: 0.3s;
    
    @include breakpoint(tablet){
        font-size: 24px;
        padding: 2rem;
    }
    &__logo{
        font-weight: 800;
        color:var(--lightFont);
    }
    &__themeSwitch{
        cursor: pointer;
        display: flex;
        align-items: center;
        &__moonIcon{
            max-width: 20px;
            margin-right: 0.6rem;
        }
        &__text{
            min-width: 100px;
            font-weight: 800;
            @include breakpoint(tablet){
                min-width: 150px;
            }
        }
        display: flex;
        text-decoration: none;
        color:var(--lightFont);
    }
}
.countries{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1rem;
    background:var(--veryDarkBlue);
    transition: 0.3s ;
    @include breakpoint(tablet){
        grid-template-columns: 1fr 1fr;
    }
    @include breakpoint(laptop){
        grid-template-columns: repeat(3,1fr);
    }
    @include breakpoint(laptopL){
        grid-template-columns: repeat(4,1fr);
    }
    
    &__item{
        box-shadow: var(--shadow);
        color:var(--lightFont);
        max-width: 500px;
        border-radius: .5rem;
        &__flag{
            width: 100%;
            border-radius:  .5rem .5rem 0 0;
            
        }
        &__details{
            margin-top: -8px;
            padding: 2rem;
            background:var(--darkBlue);
            border-radius: 0 0 .5rem .5rem;
            &__title{
                margin-bottom: 1rem;
                font-size: 1.5em;
            }
            &__info{
                font-size: 1.2em;
                margin: .3rem 0;
                & span{
                    opacity: .6;
                }
            }
        }
    }
}
.form{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    background:var(--veryDarkBlue);
    font-size: 18px;
    @include breakpoint(tablet){
        flex-direction: row;
        padding:1rem 2rem;
        font-size: 22px;
    }
    
        &__input{
            box-shadow: var(--shadow);
            font-size: 1em;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            outline: none;
            background:var(--darkBlue);
            color:var(--lightFont);
            max-width: 420px;
            @include breakpoint(tablet){
                margin-bottom: 0;
                padding: 0.8rem 1rem;
            }
        }
        &__select{
            color:var(--lightFont);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            max-width: 200px;
            font-size: 1em;
            background:var(--darkBlue);
            outline: none;
            & option{
                font-size: 0.7em;
            }
            @include breakpoint(tablet){
                max-width: 280px;
            }
        }
}
.goBackBtn,.learnMoreBtn,.linkToCountry{
    text-decoration: none;
    text-align: center;
    
    & p{
        color:var(--lightFont);
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        margin: 1rem 0;
        max-width: 120px;
        background:var(--veryDarkBlue);
        box-shadow: var(--shadow);
    }
}
.goBackBtn p{
    background:var(--darkBlue);
    & i{
        margin-right: 0.5rem;
    }

}
.countryWebsite{
    padding: 1.5rem;
   
}
.countrySite{
    font-size: 20px;
    color:var(--lightFont);
    @include breakpoint(tablet){
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    @include breakpoint(laptopL){
        flex-direction: row;
        font-size: 24px;
    }
    & img{
        width: 100%;
        max-width: 600px;
    }
    &__textWrap{
        @include breakpoint(laptopL){
            margin-left: 4rem;
        }
        & h3{
            font-size: 1.4em;
            margin: 1rem 0;
        }
        & p{
            margin: 0.2rem 0;
            & span{
                opacity: 0.60;
        }
        
    }
    &__subInfo{
        margin-top: 2rem;
    }
    &__borders{
        margin-top: 2rem;
        max-width: 800px;
        & p{
            margin-bottom: 1rem;
            min-width: 200px;
        }
        &__borderCountries{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            & .linkToCountry{
                min-width: 90px;
               & p{
                margin:.2rem .5rem;
                background:var(--darkBlue);
               }
                
            }
        }
    }

}}
.lightThemeShadow{
    background: #fff;
    color: #000;
    box-shadow: 1px 1px 5px #555;
    & p{
        color: #000;
    }
    & h3{
        color: #000;
    }
    
    & .fas{
        color: #000;
    }
}
.lightTheme{
    background: #fff;
    color: #000;
    & p{
        color: #000;
    }
    & h3{
        color: #000;
    }
    
    & .fas{
        color: #000;
    }
}